---
---
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HackPrinceton Spring 2016</title>
    <link rel="stylesheet" href="css/MyFontsWebfontsKit.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/vendor/modernizr.js"></script>

    <link rel="icon" href="img/1hackprinceton.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="//use.typekit.net/wjc8uol.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44449737-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>

    <div id="home" class="bg-blue home-top full-height-before-nav text-center">
      <div class="bg-float" style="background-image: url(/img/1yellowstars.png);"></div>
      <div class="bg-float" style="background-image: url(/img/1planets.png);"></div>

      <div class="flex-grow-large"></div>

      <div class="row">
        <div class="small-10 small-offset-1 columns">
          <div class="home-top-brand">
            <img class="home-top-brand-logo" src="img/1hackprinceton.png" />
            <h1 class="hide">HackPrinceton Spring 2016</h1>
          </div>
        </div>
      </div>

      <div class="flex-grow-small"></div>

      <div class="row">
        <div class="small-12 columns">
          <p class="home-subscribe-message">Sign up for more information</p>

          <form action="//hackprinceton.us3.list-manage.com/subscribe/post?u=53efbc735a8d749c8eca8db43&amp;id=d0427974de" method="post" id="subscribe" class="subscribe">
            <input type="email" name="EMAIL" class="subscribe-input" placeholder="Email..." required />
            <button type="submit" class="action-button subscribe-button">
              <i></i> <span>Get Updates</span>
            </button>
          </form>
        </div>
      </div>

      <div class="flex-grow-large"></div>

      <div class="sticky">
        <nav class="home-nav" data-topbar role="navigation">
          <ul>
            <li><a class="active" href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#sponsors">Past Sponsors</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div id="about" class="home-section bg-gray">
      <div class="row">
        <div class="medium-8 medium-offset-2 end columns">
          <div class="header-comet"></div>
          <h2 class="home-section-title position-relative"><span class="home-section-title-emphasis">Explore</span> with us</h2>
          <p>HackPrinceton brings together 450 of the nation's most promising developers and designers to create incredible software and hardware projects. Meet fellow hackers, learn new technologies, and hone your skills along seasoned mentors. Whether you're making your first mobile app or are ready to jump onboard the most developed hardware track in the country, join us for 36 glorious hours of hacking.</p>
        </div>
      </div>
    </div>

    <div id="faq" class="home-section bg-blue">
      <div class="row">
        <div class="medium-12 large-10 large-offset-1 columns end">
          <h2 class="home-section-title home-section-title-yellow">FAQs</h2>

          <div class="faq-wrap">
            <div class="faq-sizer"></div>
            {% for faq in site.data.faq %}
            <div class="faq">
              <div class="faq-decoration"></div>
              <h2 class="faq-title">{{faq.question}}</h2>
              <p>{{faq.answer}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div id="sponsors" class="home-section">
      <div class="row">
        <div class="large-12 columns">
          <div class="header-rocket"></div>
          <h2 class="home-section-title"><span class="home-section-title-emphasis">Past</span> Sponsors</h2>
          <div class="sponsors text-center">
            {% for tier_hash in site.data.tiersorder %}
            {% assign tier_name = tier_hash["tier"] %}
            {% assign tier = site.data.tiers[tier_name] %}
            <div class="sponsors-{{tier_name}}">
              {% for sponsor in tier %}
              <a href="{{sponsor.Website}}" target="_blank">
                <img src="img/sponsors/{{sponsor.Logo}}" alt="{{sponsor.Sponsor}}" />
              </a>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div id="footer" class="home-section home-section-slim bg-blue text-center footer-text">
      <div class="row">
        <div class="large-12 columns">
          &copy; 2016 <a href="http://www.princetoneclub.com/" target="_blank">Princeton Entrepreneurship Club</a>. <br/>
          <a href="mailto:{{ site.email }}">Email</a> &bull; <a href="{{ site.facebook }}" target="_blank">Facebook</a> &bull; <a href="{{ site.twitter }}" target="_blank">Twitter</a> &bull; <a href="{{ site.instagram }}" target="_blank">Instagram</a>
        </div>
      </div>
    </div>

    <a id="mlh-trust-badge" href="https://mlh.io/seasons/s2016/events?utm_source=s2016&utm_medium=TrustBadge&utm_campaign=s2016" target="_blank">
      <img src="https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png" alt="MLH Official - Spring 2016">
    </a>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/vendor/jquery-shake/jquery.ui.shake.min.js"></script>
    <script src="js/vendor/jquery-scrollspy.js"></script>
    <script src="js/vendor/masonry.pkgd.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
