---
---
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HackPrinceton Fall 2015</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/MyFontsWebfontsKit.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/vendor/modernizr.js"></script>

    <link rel="icon" href="img/hp-orange.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="//use.typekit.net/wjc8uol.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>

    <div id="home" class="color-gray">
      <div class="home-top full-height-before-nav text-center">
        <div class="row">
          <div class="small-12 columns">
            <div class="home-top-upper">
              <h2 class="home-top-date">November 13-15</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <div class="home-top-brand">
              <img class="home-top-brand-logo" src="img/hp-orange.png" />
              <h1 class="home-top-brand-title">HackPrinceton</h1>
              <h3 class="home-top-brand-sponsor">sponsored by
                <a href="https://www.privateinternetaccess.com/" target="_blank">
                  <span class="home-top-brand-sponsor-logo">
                    <img src="img/sponsors/pia.png" alt="Private Internet Access" />
                  </span>
                </a>
              </h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="small-12 columns">
            <div class="home-top-lower">
              <form action="//hackprinceton.us3.list-manage.com/subscribe/post?u=53efbc735a8d749c8eca8db43&amp;id=a78ec6ad4a" method="post" id="subscribe" class="subscribe">
                <input type="email" name="EMAIL" class="subscribe-input" placeholder="Subscribe for email updates" required />
                <button type="submit" class="button-orange subscribe-button"><i class="fa fa-fw fa-envelope-o"></i></button>
              </form>

              <p class="home-top-message">
                Thinking about sponsoring? Send us an email at <a href="mailto:hackprinceton@princetoneclub.com">hackprinceton@princetoneclub.com</a>.
              </p>
            </div>
          </div>
        </div>

        <div class="sticky">
          <nav class="home-nav color-gray" data-topbar role="navigation">
            <ul>
              <li><a class="color-white" href="#home">Home</a></li>
              <li><a class="color-white" href="#schedule">Schedule</a></li>
              <li><a class="color-white" href="#faq">FAQ</a></li>
              <li><a class="color-white" href="#sponsors">Sponsors</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div id="about" class="home-section">
      <h1 class="home-section-title">About</h1>
      <div class="row">
        <div class="medium-8 medium-offset-2 end columns">
          <p>This November 13-15, HackPrinceton will bring together over 600 of the nation's most promising developers and designers to create incredible software and hardware projects. Meet fellow hackers, learn new technologies, and hone your skills alongside seasoned mentors. Whether you’re making your first mobile app or are ready to jump onboard the most developed hardware track in the country, join us for 36 glorious hours of learning.</p>
        </div>
      </div>
    </div>

    <div id="schedule" class="home-section">
      <h1 class="home-section-title">Schedule</h1>
      <div class="row">
        <div class="medium-8 medium-offset-2 end columns">
          <div class="schedule">
            <div class="schedule-day-column">
              Saturday
            </div>
            <div class="schedule-table-column vertical-bar vertical-bar-orange">
              <table class="schedule-table plain-table">
                <tr><td>10:00 AM</td><td>Registration / Buses Arrive</td></tr>
                <tr><td>10:00 AM</td><td>Registration / Buses Arrive</td></tr>
                <tr><td>10:00 AM</td><td>Registration / Buses Arrive</td></tr>
                <tr><td>10:00 AM</td><td>Registration / Buses Arrive</td></tr>
                <tr><td>10:00 AM</td><td>Registration / Buses Arrive</td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="faq" class="home-section home-section-orange">
      <h1 class="home-section-title">FAQ</h1>
      <div class="row">
        <div class="medium-6 medium-offset-3 columns end">
          {% for faq in site.data.faq %}
          <div class="faq vertical-bar vertical-bar-white">
            <h2 class="faq-title">{{faq.question}}</h2>
            <p>{{faq.answer}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div id="sponsors" class="home-section">
      <h1 class="home-section-title">Sponsors</h1>
      <div class="row">
        <div class="large-12 columns">
          <div class="sponsors text-center">
            {% for tier_hash in site.data.tiers %}
            {% assign tier_name = tier_hash[0] %}
            {% assign tier = tier_hash[1] %}
            <div class="sponsors-{{tier_name}}">
              {% for sponsor in tier %}
              <a href="{{sponsor.Website}}" target="_blank">
                <img src="img/sponsors/{{sponsor.Logo}}" alt="{{sponsor.Sponsor}}" />
              </a>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/vendor/jquery-shake/jquery.ui.shake.min.js"></script>
    <script src="js/vendor/jquery-scrollspy.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
