@import "foundation/settings";

@import "hp-colors";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700);

$nav-height: 60px;
$nav-height-mobile: 40px;

@mixin font-heading {
  font-family: "Dense-Regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
@mixin font-subheading {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  letter-spacing: 0.2em;
}
@mixin font-body {
  font-family: $font-family-sans-serif;
}

body {
  margin: 0;
  padding: 0;
  @include font-body;
}

@mixin not-large {
  @media (max-width: #{upper-bound($medium-range)}) {
    @content;
  }
}

@mixin only-large {
  @media (min-width: #{lower-bound($large-range)}) {
    @content;
  }
}

@mixin only-small {
  @media (max-width: #{upper-bound($small-range)}) {
    @content;
  }
}

@mixin rounded-form-element {
  border-width: 0 !important;
  border-radius: $global-radius !important;
  padding: 16px !important;
  height: auto !important;
  box-shadow: none !important;
  margin: 0 0 10px 0 !important;

  @include only-small {
    padding: 12px !important;
  }
}

@mixin display-flex {
  // https://css-tricks.com/using-flexbox/
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin prefix($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  #{$property}: $value;
}

@mixin hover-color($property, $color) {
  #{$property}: $color;
  transition: $property 200ms ease-out;

  &:hover, &:focus, &.disabled, &[disabled] {
    #{$property}: scale-color($color, $lightness: -20%) !important;
  }
}

a {
  @include hover-color(color, $hp-magenta);

  &.color-white, .home-section-orange & {
    color: white;

    &:hover, &:focus {
      color: scale_color(white, $lightness: -14%);
    }
  }
}

@mixin bg-base {
  background-position-x: center !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-blue {
  @include bg-base;
  background-color: $hp-space-blue;
  background-image: url("/img/blue_background.jpg");
  color: white;
}

.bg-gray {
  @include bg-base;
  background-color: $hp-space-dust-gray;
  background-image: url("/img/gray_background.jpg");
  color: black;
}

.bg-float {
  @include bg-base;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-attachment: scroll;
}

button {
  @include rounded-form-element;
  @include font-subheading;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;

  @include only-small {
    font-size: 0.7rem;
  }
}

input {
  @include rounded-form-element;
}

.subscribe {
  margin: 20px auto;
  max-width: 500px;
  @include display-flex;
  @include prefix(flex-direction, row);
  align-items: stretch;

  &-input {
    width: auto !important;
    flex-grow: 1;
    min-width: 0;
    margin: 0 10px 10px !important;
    align-self: stretch;
  }

  &-button {
    flex-shrink: 0;
    margin: 0 10px 10px !important;

    @include only-small {
      margin-top: 10px !important;
    }
  }

  @include only-small {
    @include prefix(flex-direction, column);
    align-items: center;
  }
}

.action-button {
  @include hover-color(background-color, $hp-magenta);
}

.full-height {
  &-before-nav {
    min-height: 100vh;
  }

  // Handle spacing when nav is fixed
  &, .f-topbar-fixed &-before-nav {
    min-height: calc(100vh - #{$nav-height});

    @include only-small {
      min-height: calc(100vh - #{$nav-height-mobile});
    }
  }
}

.flex-grow {
  &-small {
    @include prefix(flex-grow, 1);
  }

  &-large {
    @include prefix(flex-grow, 5);
  }
}

.home-top {
  @include display-flex;
  @include prefix(flex-direction, column);
  @include prefix(justify-content, space-between);

  > * {
    flex-basis: 0;
  }

  &-upper {
    margin: 20px 0;
  }

  &-date {
    @include font-body;
    //font-weight: bold;
    letter-spacing: 4px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: inherit;
  }

  &-brand {
    &-logo {
      width: 400px;
      max-width: 95%;
      margin-bottom: 20px;
    }

    &-title {
      @include font-heading;
      font-size: 4.2rem;
      letter-spacing: 5px;
      color: inherit;
      margin: 0 0 8px 0;
      line-height: normal;

      @include only-small {
        font-size: 3.8rem;
      }
    }

    &-sponsor {
      @include font-body;
      font-size: 1.5rem;
      font-weight: 300;
      color: inherit;
      margin: 0 0 5px 0;
      line-height: normal;

      @include only-small {
        font-size: 1.1rem;
      }

      &-logo {
        display: inline-block;
        background-color: rgba(255, 255, 255, .6);
        padding: 8px 6px 8px 8px;
        margin: 0 5px;
        border-radius: 3px;
        transition: background-color .3s ease-out;

        &:hover {
          background-color: white;
        }

        img {
          height: 30px;

          @include only-small {
            height: 20px;
          }
        }
      }
    }
  }
}

.home-subscribe-message {
  @include font-subheading;
  text-transform: uppercase;

  @include only-small {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
}

.home-section {
  $home-section-title-width: 10rem;

  padding: 70px 0;
  background-color: white;

  &-slim {
    padding: 30px 0;
  }

  &-title {
    @include font-heading;
    text-transform: uppercase;
    font-size: 2.3rem;
    margin: 0 0 5px;
    font-weight: bold;

    &-emphasis {
      color: $hp-magenta;
    }

    &-yellow {
      color: $hp-yellow;
    }
  }
}

.schedule {
  @include display-flex;
  @include prefix(flex-direction, row);
  margin-bottom: 20px;

  @include not-large {
    @include prefix(flex-direction, column);
  }

  &-day-column {
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
    width: 120px;
    @include prefix(flex-shrink, 0);

    @include not-large {
      text-align: left;
      margin-bottom: 10px;
    }
  }

  &-table-column {
    padding-left: 20px;
    position: relative;
  }

  &-table {
    table-layout: fixed;
    width: 100%;

    tr:not(:last-child) td {
      padding-bottom: 0.5rem;
    }

    tr:first-child {
      td:nth-child(1) {
        width: 100px;
      }
    }
  }
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // TODO: ensure autoprefixer is in use
}

.faq {
  //position: relative;
  //padding: 0 20px;

  &-title {
    font-size: inherit;
    font-weight: bold;
    color: $hp-yellow;
  }
}

table.plain-table {
  border: 0;
  border-spacing: 0;
  margin: 0;
  background: none;

  tr {
    background: none;
  }

  td {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
  }
}

.home-nav {
  text-align: center;
  background-color: white;
  overflow-x: auto;
  white-space: nowrap;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 1000;

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    line-height: $nav-height;
    @include font-subheading;
    letter-spacing: normal;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0 20px;
    width: 150px;
    text-transform: uppercase;
    color: black;

    @include only-small {
      padding-left: 10px;
      padding-right: 10px;
      line-height: $nav-height-mobile;
      font-size: 0.95rem;
      width: auto;
    }

    &.active {
      color: $hp-blue;
    }
  }
}

.sponsors {
  margin: 0 auto;
  box-sizing: border-box;

  a {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 30px;
    width: 70%;

    img {
      display: block;
      width: 100%;
      border: 0;
    }
  }

  @include only-large {
    a {
      padding: 50px;
    }
  }

  @include only-large {
    .sponsors-title a {
      width: 65%;
    }
    .sponsors-series-b a {
      width: 50%;
    }
    .sponsors-series-a a {
      width: 32%;
    }
    .sponsors-angel a {
      width: 30%;
    }
    .sponsors-seed a {
      width: 22%;
    }
    .sponsors-other a {
      width: 20%;
    }
    .sponsors-princeton a {
      width: 25%;
    }
  }
}

.footer-text {
  @include font-subheading;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1.8;
}

#mlh-trust-badge {
  position: absolute;
  top: 0;
  right: 50px;
  max-width: 80px;
  width: 10%;
  min-width: 50px;
  display: block;
  z-index: 10000;

  @include only-small {
    right: 15px;
  }

  img {
    width: 100%;
  }
}
